@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>Amazon Cognito ASP.NET Core Web Application Sample</h1>

This sample application demonstrates how to integrate Amazon Cognito as an identity provider for an ASP.NET Core Web Application. The sample adds the <a href="https://www.nuget.org/packages/Amazon.AspNetCore.Identity.Cognito/" target="_blank">Amazon.AspNetCore.Identity.Cognito</a>
NuGet package as the registered identity service provider for the ASP.NET Core application. The sample also adds sample login pages that demonstrate how to customize the ASP.NET Core login process to use Amazon Cognito.

<div class="row">
    <div class="col-md-6">
        <h2>Amazon Cognito ASP.NET Core Identity Provider</h2>
        <ul>
            <li><a href="https://github.com/aws/aws-aspnet-cognito-identity-provider/blob/master/docs/1-Setup.md">Setup</a></li>
            <li><a href="https://github.com/aws/aws-aspnet-cognito-identity-provider/blob/master/docs/2-Signing%20In.md">Signing in using the CognitoSigninManager</a></li>
            <li><a href="https://github.com/aws/aws-aspnet-cognito-identity-provider/blob/master/docs/3-User%20Management.md">Users management</a></li>
            <li><a href="https://github.com/aws/aws-aspnet-cognito-identity-provider/blob/master/docs/4-User%20Management%20-%20Email%20and%20Phone%20number.md">Users management - emails and phone numbers</a></li>
            <li><a href="https://github.com/aws/aws-aspnet-cognito-identity-provider/blob/master/docs/5-User%20Management%20-%20Change%20and%20reset%20passwords.md">User Password management</a></li>
            <li><a href="https://github.com/aws/aws-aspnet-cognito-identity-provider/blob/master/docs/6-User%20Claims.md">Authentication using Claims</a></li>
            <li><a href="https://github.com/aws/aws-aspnet-cognito-identity-provider/blob/master/docs/7-User%20Roles.md">Authentication using Roles</a></li>
        </ul>
    </div>
    <div class="col-md-6">
        <h2>Amazon Cognito service documentation</h2>
        <ul>
            <li><a href="https://docs.aws.amazon.com/cognito/latest/developerguide/cognito-user-identity-pools.html">Amazon Cognito User Pool Developer Guide</a></li>
            <li><a href="https://docs.aws.amazon.com/cognito-user-identity-pools/latest/APIReference/Welcome.html">Amazon Cognito User Pool API Reference.</a></li>
        </ul>
    </div>

</div>